{% extends 'base.html' %}

{% block content %}

<h1>Update</h1>


<form action="" method="POST">
    {% csrf_token %}
    <p> Título: {{form.title}}</p>
    <p> Slug: {{form.slug}}</p>
    <p> Autor: {{form.author}}</p>
    <p> Gênero {{form.genres}}</p>
    <p> Data: {{form.date}}</p>


    <input type="submit" value="Update">
</form>

{% endblock content %}