{% extends 'base.html' %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <h1>Você deseja apagar "{{ object.title}}"?</h1>
    <p> <input type="submit" value="Sim" /> <a href="/">Cancelar</a> </p>

</form>

{% endblock %}