{% extends 'base.html' %}

{% block content %}

<h1>teste</h1>


<form action="." method="POST">
    {% csrf_token %}
    <p> Título: {{form.title}}</p>
    {% comment %} <p> Slug: {{form.slug}}</p> {% endcomment %}
    <p> Autor: {{form.author}}</p>
    <p>Gênero {{form.genres}}</p>
    <p> Data: {{form.date}}</p>


    <input type="submit" value="Create">
</form>

{% endblock content %}