{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width:800px">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{book.title}}</h1>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">{{book.author}}</small>
            <small class="text-muted">{{book.genres}}</small>
            <small class="text-muted">{{book.slug}}</small>
            <small class="text-muted">{{book.date}}</small>
        </div>
    </div>

</div>
{% endblock %}