   {% extends "base.html" %}
   {% block content %}
   <div class="container">
       <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
           <h1 class="display-4 title-home">All Books</h1>
           <button type="button" class="btn btn-outline-success"><a class="" href="/create">New Book</a></button>
           <button type="button" class="btn btn-outline-success"><a class="" href="/books">List Books</a></button>


           <p class="lead">A range of wonderful programming books to help you learn JavaScript.</p>
       </div>
       <div class="py-5">
           <div class="row">
               {% for book in books %}
               <div class="col-md-4">
                   <a class="text-dark" href="{% url 'books:book-detail' slug=book.slug %}">
                       <div class="card mb-4 box-shadow">
                           <div class="card-body">
                               <h2 style="font-size:18px;font-weight:bold;min-height:42px;">
                                   {{book.title|truncatechars:50}}</h2>
                               <div class="d-flex justify-content-between align-items-center">
                                   <small class="text-muted">{{book.genre}}</small>
                                   <small class="text-muted">{{book.isbn}}</small>
                                   <a href="{% url 'books:update-book' id=book.id %}"> Update Book</a>
                                   <a href="{% url 'books:delete-book' id=book.id %}"> Delete Book</a>
                               </div>
                               <small class=" text-muted">{{time}}</small>
                           </div>
                       </div>
                   </a>
               </div>
               {% endfor %}
           </div>

           <nav aria-label="Page navigation example">
               <ul class="pagination">

                   <li class="page-item">

                       {% if page_obj.has_previous %}
                   <li class="page-item current">
                       <a class="page-link" aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">
                           <span aria-hidden="true">&laquo;
                           </span>
                       </a>
                   </li>
                   {% endif %}

                   <li class="page-item current"><a class="page-link" href="#">{{ page_obj.number }} </a></li>

                   {% if page_obj.has_next %}
                   <li class="page-item current">
                       <a class="page-link" aria-label="Previous" href="?page={{ page_obj.next_page_number }}"><span
                               aria-hidden="true">&raquo;</span></a>
                   </li>
                   {% endif %}
                   </li>
               </ul>
           </nav>
       </div>
       {% endblock %}


       {% comment %}

       <div class="row">
           <div class="col-12">
               <span class="step-">
                   {% if page_obj.has_previous %}
                   <a href="?page=1">&laquo; first</a>
                   <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                   {% endif %}

                   <span class="current">
                       Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                   </span>

                   {% if page_obj.has_next %}
                   <a href="?page={{ page_obj.next_page_number }}">next</a>
                   <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                   {% endif %}
               </span>
           </div>
       </div>
   </div>

   {% endcomment %}