{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width:800px">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Slug</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books  %}
            <tr>

                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.slug}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}